# Node stuff
node_modules/
Backend/node_modules/
frontend/node_modules/

# Builds
dist/
Backend/dist/
frontend/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

.env
.env.local
